.authenticate{
	font-family:verdana, geneva, sans-serif;
    color: #dddddd;
	position:fixed;
	width:244px;
	margin:auto;
	top:50%;
	-webkit-transform:  translateY(-50%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
	-ms-transform:  translateY(-50%); /* IE 9 */
	transform:  translateY(-50%); /* IE 10, Fx 16+, Op 12.1+ */
	background-color:rgb(44, 43, 43);
	border:3px solid rgb(0, 135, 226);
	border-radius:5px;
	padding:3px;
	box-sizing:border-box;
	display:none;
	margin:auto;
	overflow: auto;
	margin: auto;
	left: 0; 
	right: 0;
		
}
.authenticate .tickbox{
margin-top:4px;
position:relative;	
float:right;
		margin-right:10px;
}
.authenticate .tickbox .text{
	font-size:14px;
	font-family:verdana, geneva, sans-serif;
    color: #dddddd;
	padding-left:4px;
	padding-right:4px;
	padding-top:2px;
	height:20px;
	float:left;
	box-sizing:border-box;
}
.authenticate .tickbox .box{
	width:18px;
	height:18px;
	float:left;
}
.authenticate input[type="text"], .authenticate input[type="password"], .authenticate select{}
.authenticate .tab-panel .panel{
		border-radius:4px;	
	top:0px;
	width:100%;
	box-sizing:border-box;
	padding:4px;
		background-color:rgb(32, 31, 30);
}
.authenticate .tab-panel .tabs{
		background-color:rgb(0, 135, 226);
		border-top-right-radius:6px;
}.authenticate .tab-panel .tab{
		background-color:rgb(32, 31, 30);
}
.authenticate .tab-panel	{
}
.authenticate .div-inputs-sign-in{
	float:left;
}
.authenticate .button-register{
			width:100%;
			margin-top:4px;
			box-sizing:border-box;
			margin-bottom:3px;
			border:2px solid  rgb(0, 135, 226);
			border-radius:4px;
			float:left;
			text-align:center;
			padding:3px;
			cursor:pointer;
}
.authenticate .button-register:hover{
	background-color:rgb(44, 43, 43);
}
.authenticate .inputs-register{
	position :relative;	
	height:auto;
	float:left;
}
.authenticate .button-enter
{
	height:100%;
	position:relative;
	float:none;
	width:100%;
	margin-top:4px;
	margin-bottom:3px;
}
.authenticate .error{
	position :relative;
	float :left;
	width :100%;
	background-color :#eeeeee;
	font-family:verdana, geneva, sans-serif;
	font-size :14px;
	display :none;
	margin-top :3px;
	box-sizing :border-box;
}
.authenticate .error-text{position :relative;
		width :100%;
		box-sizing :border-box;
		background-color :transparent;
		border :0px;
		resize :none;
		overflow-y :hidden;
		float:left;
		color:#ff3344;

		}
.authenticate .entry ,.authenticate .gender{
	width:100%;
	margin-bottom:4px;
}
.authenticate .entry{
    padding: 14px 10px;
}
.authenticate .entry ,.authenticate .gender,.authenticate .birthday select{
	position:relative;
	float:left;
	box-sizing:border-box;
	
	
    background: #fff;
    color: #323232;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 2px solid #dddddd;
    outline: 0;
	border-radius:2px;
	height:28px;
}
.authenticate .birthday{
	width:100%;
	box-sizing:border-box;
	margin-bottom:4px;
}
.authenticate .birthday select{
	width:32%;
	box-sizing:border-box;
	height:100%;	
}
.authenticate .birthday .not-right{
	width:32%;
	box-sizing:border-box;
	height:100%;
	margin-right:2%;
}