.heading .button-search{
	width:18px;
	height:18px;
	background-image:url('/images/search.gif');
	cursor:pointer;
	background-repeat:no-repeat;
	background-size:contain;
	margin-top:4px;
}.heading .button-search:hover{
	background-image:url('/images/search-hover.gif');
}