.click-menu{
	position:absolute;
	box-sizing:border-box;	
	padding:2px;
	padding-bottom:0px;
	background-color:#3B3B3B;
	border-radius:1px;
	overflow:hidden;
	display:none;
}
.click-menu .option-entry{
	position:relative;
	display:block;
	min-width:120px;
	min-height:40px;
	vertical-align:center;
	text-align:left;
	box-sizing:border-box;	
    background-color: #333333;
	padding:3px;
	font-size:14px;
	color:#C4C4C4;
	font-family:verdana, geneva, sans-serif;
	text-overflow: ellipsis;
	margin-bottom:1px;
	border-radius:1px;
	overflow:hidden;
	word-wrap:ellipsis;
	padding-top:10px;
	padding-bottom:10px;
	cursor:pointer;
	max-width:200px;
	
}
.click-menu .option-entry:hover{
	background-color:#2A2A2A;
}