.lobby .emoticons .entries .emoticon-entry{
	position:relative;
	float:left;
	width:auto;
	box-sizing:border-box;
	height:20px;
	width:20px;
	font-size:16px;
	cursor:pointer;
}
.lobby .emoticons .entries .emoticon-entry:hover{
	font-weight:bold;
	font-size:18px;
}