.lobby .rooms .emoticons{
	position:absolute;
	display:none;
	bottom:30px;
	left:0px;
	right:0px;
	min-height:auto;
	box-sizing:border-box;
	padding:6px;
	background-color:rgb(44, 43, 43);
}
.lobby.mobile .rooms .emoticons{
	
}
.lobby .rooms .emoticons .entries{
	position:relative;
	width:100%;
	min-height:70px;
	max-height:160px;
	overflow-y:auto;
	box-sizing:border-box;
	padding:3px;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background-color:rgb(32, 31, 31);
}
.lobby .rooms .emoticons .entries .emoticon-entry{
	width:32px;
	height:32px;
}