.heading{
	position:relative;
	float:left;
	font-size:14px;
	font-family:verdana, geneva, sans-serif;
	background-color:rgb(44, 43, 43);
    color: #dddddd;
	padding:4px;
	box-sizing:border-box;
	border-left:1px solid #333333;
	border-right:1px solid #333333;
}
.heading .button-close{
	float:right;
	width:24px;
	height:24px;
	margin-right:5px;
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url('/images/close.jpg');	
	cursor:pointer;
}
.heading .button-close:hover{
	background-image:url('/images/close-hover.jpg');	
}
