
.lobby{
	
}
.lobby .left{
}
.lobby .right{
}
.lobby .right .button-show-hide-wrapper{
}
.lobby .right .button-show-hide-wrapper .button-pms{
width:43px;
margin-left:10px;
float:left;
height:28px;	
margin-top: 5px;
border-radius:4px;
overflow:hidden;
}
.lobby .right .button-show-hide-wrapper .button-pms:hover{
}
.lobby .right .button-show-hide-wrapper .button-pms-hide{
}
.lobby .right .button-show-hide-wrapper .button-pms-hide:hover{
}

.lobby .right .button-show-hide-wrapper .button-users{
width:43px;
margin-left:10px;
float:left;
border-radius:4px;
overflow:hidden;
}
.lobby .right .button-show-hide-wrapper .button-users:hover{

}
.lobby .right .button-show-hide-wrapper .button-notifications{
margin-right:10px;
float:right;
}
.lobby .right .button-show-hide-wrapper .button-users:hover{

}