
.lobby{
	
}
.lobby .left{
}
.lobby .right{
}
.lobby .right .button-show-hide-wrapper{
}
.lobby .right .button-show-hide-wrapper .button-pms{
width:43px;
margin-left:10px;
float:left;
background-image:url('/images/pms-mobile.gif');	
margin-top: 4px;
}
.lobby .right .button-show-hide-wrapper .button-pms:hover{
}
.lobby .right .button-show-hide-wrapper .button-pms-hide{
}
.lobby .right .button-show-hide-wrapper .button-pms-hide:hover{
}

.lobby .right .button-show-hide-wrapper .button-users{
width:43px;
margin-left:10px;
float:left;
background-image:url('/images/users-mobile.gif');	
}
.lobby .right .button-show-hide-wrapper .button-users:hover{

}
.lobby .right .button-show-hide-wrapper .button-notifications{
margin-right:10px;
float:right;
background-image:url('/images/notifications.gif');	
}
.lobby .right .button-show-hide-wrapper .button-users:hover{

}