body{
	
}
.lobby{
	border:1px solid black;
	width:100%;
	position:relative;
	float:left;
	height:300px;
	background-color:rgb(44, 43, 43);
}
.lobby .right{
	height:100%;
	overflow:hidden;
	display: flex;
	flex-flow: column;
}