.logo{
	width:100%;
	height:100px;
	margin:auto;
	right:0;
	left:0;
	background-position:center;	
	box-sizing:border-box;
	
}
.logo div{
	width:100%;
	height:100px;
	background-position:center;	
	box-sizing:border-box;
	cursor:pointer;
	background-repeat:no-repeat;
	-webkit-background-size: contain;
-moz-background-size: contain;
-o-background-size: contain;
	background-size:contain;
    border-right: 1px solid #2592E9;
	background-image:url('/images/logo-brexit-chat.gif');	
}
.logo div:hover{
	background-image:url('/images/logo-brexit-chat-hover.gif');
}