.main-menu{
	min-height:100px;
	height:auto;
	min-width:200px;
	background-color:rgb(44, 43, 43);
	margin: auto;
	position: absolute;
	right: 0;
	top:40px;
	padding:6px;
	box-sizing:border-box;
	border:1px solid #000000;
	display:none;
}

.main-menu .heading{
	width:100%;
}
.main-menu .entries{
	width:100%;
	height:auto;
	background-color: rgb(32, 31, 31);
	min-height:100px;
}
.main-menu .entries .entry{
	width:100%;
	height:auto;
	background-color: rgb(32, 31, 31);
	
	
	
	box-sizing:border-box;	
    background-color: #333333;
	padding:3px;
	font-size:14px;
	color:#C4C4C4;
	font-family:verdana, geneva, sans-serif;
	text-overflow: ellipsis;
	text-align:left;
	padding-left:4px;
	overflow:hidden;
	word-wrap:ellipsis;
}
.main-menu .entries .entry:hover{
}