
 .notifications-menu{
	position:absolute;
	background-color:rgb(44, 43, 43);
	display:none;
	padding-bottom:6px;
	height:100%;
	min-height:10px;
	width:100%;
}
 .notifications-menu .notifications-menu-inner{
	box-sizing:border-box;
	position:relative;
	height:100%;
	width:100%;
}
 .notifications-menu  .notifications-menu-inner .entries-wrapper{
	box-sizing:border-box;
	 position:absolute;
	 top:36px;
	 bottom:0px;
	width:100%;
	
}
 .notifications-menu .notifications-menu-inner .entries-wrapper .entries{
	box-sizing:border-box;
	height:100%;
	width:100%;
    overflow-y: auto;
}
 .notifications-menu .notifications-menu-inner .heading-wrapper{
	box-sizing:border-box;
	height:32px;
	width:100%;
}
 .notifications-menu .notifications-menu-inner .heading-wrapper .heading{
	box-sizing:border-box;
	padding:4px;
	margin-bottom:3px;
	box-sizing:border-box;
	width:100%;
}