.notifications-menu{
	position:absolute;
	background-color:orange;
	display:none;
	background-color:rgb(44, 43, 43);
	padding:6px;
	box-sizing:border-box;
	width:100%;
	border:1px solid #000000;
}
.notifications-menu .entries{
	background-color:rgb(32, 31, 31);
	box-sizing:border-box;
	width:100%;
	min-height:40px;
	padding-left:3px;
	padding-top:3px;
	height:auto;
	float:left;
}
.notifications-menu .heading{
	width:100%;
}