.online-indicator{
	position:absolute;
	bottom:2px;
	right:2px;
	border-radius:2px;
	height:10px;
	width:10px;
	box-sizing:border-box;
}
.online-indicator.online{
	background-color:#00AFFF;
	border:1px solid #55ee44;
}
.online-indicator.online.pm{
	background-color:#C653FF;
	border:1px solid #55ee44;
}
.online-indicator.offline.pm{
	background-color:#430064;
	border:1px solid #555555;
	
}