
.lobby .pms-menu{
	position:absolute;
background-color:rgb(44, 43, 43);
	display:none;
	padding-bottom:6px;
}
.lobby .pms-menu .entries-wrapper{

}
.lobby .pms-menu .entries{
	min-height:55px;
}
.lobby .pms-menu .heading{
	padding:4px;
	margin-left:-3px;
	margin-bottom:3px;
	box-sizing:border-box;
	width:100%;
}