
.lobby .pms-menu{
	position:absolute;
background-color:rgb(44, 43, 43);
	display:none;
	padding-bottom:6px;
}
.lobby .pms-menu .entries-wrapper{

}
.lobby .pms-menu .entries{
	min-height:55px;
}
.lobby .pms-menu .heading{
	padding:4px;
	margin-left:-3px;
	margin-bottom:3px;
	box-sizing:border-box;
	width:100%;
}
.lobby .pms-menu .heading .button-close{
	float:right;
	width:24px;
	height:24px;
	margin-right:5px;
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url('/images/close.png');	
	cursor:pointer;
}
.lobby .pms-menu .heading .button-close:hover{
	background-image:url('/images/close-hover.png');	
}