.lobby .pms-menu{
	float:left;
	width:100%;
	box-sizing:border-box;	
	padding:6px;
	padding-bottom:0px;
}
.lobby .pms-menu .entries-wrapper{
	position:relative;
	float:left;
	width:100%;
	box-sizing:border-box;
	padding-right:3px;

}
.lobby .pms-menu .entries{
	position:abolute;
	width:100%;
	background-color:rgb(32, 31, 31);
	padding-left:3px;
	overflow-y:auto;
}