body{
	
}
.lobby .rooms-menu{
	width:100%;
	box-sizing:border-box;
	min-height:100%;
	padding-left:3px;
	padding-top:3px;
	overflow-y:auto;
	height:100%;
}
.lobby .rooms-menu .button-search{
	
	background-color:rgb(32, 31, 30);
	position:absolute;
	bottom:0px;
	right:0px;
	height:20px;
	width:22px;
	background-image:url('/images/search.gif');
	cursor:pointer;
	background-repeat:no-repeat;
	background-size:contain;
	margin-top:2px;
	z-index:10;
	
}
.lobby .rooms-menu .button-create:hover{
	background-image:url('/images/search-hover.gif');
}
.lobby .rooms-menu .button-create{
	
	background-color:rgb(32, 31, 30);
	position:absolute;
	bottom:2px;
	right:24px;
	height:17px;
	width:17px;
	background-image:url('/images/room-create.gif');
	cursor:pointer;
	background-repeat:no-repeat;
	background-size:contain;
	margin-top:2px;
	z-index:10;
	
}
.lobby .rooms-menu .button-create:hover{
	background-image:url('/images/room-create-hover.gif');
}