body{
	
}
.lobby .rooms-menu .room-entry{
	display:inline-block;
	position:relative;
	float:left;
	width:25%; 	
	box-sizing:border-box;
	padding:0px;
	height:36px;
	padding-right:3px;
	padding-bottom:3px;
}
.lobby .rooms-menu .room-entry .inner{
	box-sizing:border-box;
	height:100%;
	background-color:#cccccc;
	border-radius:7px;
	overflow:hidden;
	border:2px solid #efefef;
}
.lobby .rooms-menu .room-entry .inner:hover{
	background-color:#dddddd;
	cursor:pointer;
}
.lobby .rooms-menu .room-entry .connected-image{
	float:left;
	box-sizing:border-box;
	height:30px;
	width:30px;
	border-radius:2px;
	display:inline-block;
}
.lobby .rooms-menu .room-entry .connected-image img{
	box-sizing:border-box;
	height:100%;
	width:100%;
	/*background-image:url('/images/room-default.png');
    background-repeat: no-repeat;
    background-position: center; 
	background-size:contain;*/
}
.lobby .rooms-menu .room-entry .name{
	float:left;
	width:calc(100% - 36px);
	padding-top:5px;
	padding-left:2px;
	padding-right:2px;
	font-size:16px;
	font-family :Arial;
	display:inline;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
