body{
	
}
.lobby .rooms-menu .room-entry{
	width:25%; 	
}
.rooms-search .room-entry{
	width:50%;
}
.lobby .rooms-menu .room-entry,
.rooms-search .room-entry{
	display:inline-block;
	position:relative;
	float:left;
	box-sizing:border-box;
	padding:0px;
	height:36px;
	padding-right:3px;
	padding-bottom:3px;
}
.lobby .rooms-menu .room-entry .inner,
.rooms-search .room-entry .inner{
	box-sizing:border-box;
	height:100%;
	background-color:#cccccc;
	border-radius:7px;
	overflow:hidden;
	border:2px solid #efefef;
	width:100%;
}
.lobby .rooms-menu .room-entry .inner:hover,
.rooms-search .room-entry .inner:hover{
	background-color:#dddddd;
	cursor:pointer;
}
.lobby .rooms-menu .room-entry .inner .connected-image,
.rooms-search .room-entry .inner .connected-image{
	float:left;
	box-sizing:border-box;
	height:30px;
	width:30px;	
	border-radius:2px;
    overflow: hidden;
}
.lobby .rooms-menu .room-entry .inner .connected-image img,
.rooms-search .room-entry .inner .connected-image img{
	box-sizing:border-box;
	height:100%;
	width:100%;
	/*background-image:url('/images/room-default.png');
    background-repeat: no-repeat;
    background-position: center; 
	background-size:contain;*/
}
.lobby .rooms-menu .room-entry .inner .name,
.rooms-search .room-entry .inner .name{
	height:30px;
	padding-top:5px;
	padding-left:2px;
	padding-right:2px;
	font-size:16px;
	font-family :Arial;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
    box-sizing: border-box;
}
.lobby .rooms-menu .room-entry .inner .n-users,
.rooms-search .room-entry .inner .n-users{
	position:relative;
	display:inline-block;
	height:30px;
	top:-1px;
	font-size:12px;
	font-weight:500;
	padding-left:2px;
	font-family :verdana, geneva, sans-serif;
	color:#3A3351;
}
