body{
	
}
.lobby .rooms{
	position:relative;
	width:100%;
	box-sizing:border-box;
	-webkit-flex-grow: 1; /* Safari */
	flex-grow:1;
}
.lobby .rooms .entries{
	position:absolute;
	float:left;
	box-sizing:border-box;	
	background-color:rgb(32, 31, 31);
	left:6px;
	right:6px;
	top:0px;
	bottom:6px;

}