
.lobby .rooms .entries .room .spinner div {
  margin-top:-40px;
}
.lobby .rooms .entries .room{
	position:absolute;
	box-sizing:border-box;	
	background-color:rgb(32, 31, 31);
	left:0px;
	right:0px;
	top:6px;
	bottom:0px;

}
.lobby .rooms .entries .room .top{
	position:absolute;
	float:left;
	height:calc(100% - 58px);
	width:100%;
	box-sizing:border-box;
	display:block;
}
.lobby .rooms .entries .room .top .feed{
	position:relative;
	background-color:rgb(32, 31, 31);
	overflow-y:auto;
	overflow-x:hidden;
	padding-left:3px;
	padding-right:3px;
	box-sizing:border-box;
	padding-bottom:3px;
	height:100%;
}
.lobby .rooms .entries .room .bottom{
	position:absolute;
	bottom:0px;
	float:left;
	height:58px;
	width:100%;
	box-sizing:border-box;	
	background-color:orange;
	display:block;
	background-color:rgb(44, 43, 43);
}
.lobby .rooms .entries .room .bottom .text{
	width:100%;
	border:0px;
	margin:0px;
	height:26px;
	position:absolute;
	top:4px;
	font-family:Arial;
	font-size:16px;
	padding-left:2px;
	padding-right:2px;
	box-sizing: border-box;
}
.lobby .rooms .entries .room .bottom .menu{
	width:100%;
	border:0px;
	margin:0px;
	height:24px;
	position:absolute;
	bottom:0px;
	background-color:rgb(32, 31, 31);
}
.lobby .rooms .entries .room .bottom .menu .button-emoticons{
	float:right;
	width:24px;
	height:24px;
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url('/images/smiley.gif');	
	cursor:pointer;
}
.lobby .rooms .entries .room .bottom .menu .button-emoticons:hover{
	background-image:url('/images/smiley-hover.gif');	
}
.lobby .rooms .entries .room .bottom .menu .button-send{
	float:right;
	width:48px;
	height:20px;
	margin-top:1px;
	line-height:19px;
	background-color:#2592E9;
	border:1px solid #000000;
	border-radius:2px;
	cursor:pointer;
	font-family:Arial;
	text-align:center;
	vertical-align:middle;
}
.lobby .rooms .entries .room .bottom .menu .button-send:hover{
	background-color:#8092E9;
}
.lobby .rooms .entries .room .bottom .menu .button-exit{
	float:right;
	width:28px;
	height:24px;
	margin-right:6px;
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url('/images/room-exit.gif');	
	cursor:pointer;
}
.lobby .rooms .entries .room .bottom .menu .button-exit:hover{
	background-image:url('/images/room-exit-hover.gif');	
}
.lobby .rooms .entries .room .bottom .menu .button-close{
	float:right;
	width:28px;
	height:24px;
	margin-right:6px;
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url('/images/close.jpg');	
	cursor:pointer;
}
.lobby .rooms .entries .room .bottom .menu .button-close:hover{
	background-image:url('/images/close-hover.jpg');	
}
.lobby .rooms .entries .room .bottom .menu .button-video-pm-start{
	float:right;
	width:43px;
	height:24px;
	margin-right:6px;
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url('/images/video-start.gif');	
	cursor:pointer;
}
.lobby .rooms .entries .room .bottom .menu .button-video-pm-start:hover{
background-image:url('/images/video-start-hover.gif');	
}