
.users-menues{
    position:absolute;
	top:83px;
	bottom:0px;
	width:100%;
	box-sizing:border-box;
	background-color:rgb(32, 31, 31);
}
.brexit-chat .users-menues{
	top:100px;
}
.users-menues .users-menues-entries{
	box-sizing:border-box;
	height:100%;
	overflow:hidden;
	background-color:red;
}