
.users-menues{
	box-sizing:border-box;
	position:absolute;
	width:100%;
	display:none;
	padding-left:6px;
	padding-top:6px;
	padding-right:6px;
	padding-bottom:6px;
	background-color:rgb(44, 43, 43);
}
.users-menues .users-menues-entries{
	
}