
.lobby .users-menues .entries .users-menu{
	position:absolute;
	height:100%;
	width:100%;
	box-sizing:border-box;
	background-color:rgb(32, 31, 31);
	height:100%;
	overflow:auto;
}
.lobby .users-menues .entries .users-menu .entries{
	position:relative;
	float:left;
	width:100%;
	box-sizing:border-box;
	padding:3px;
	height:auto;
}
.lobby .users-menues .entries .users-menu .heading{
	position:relative;
	float:left;
	width:100%;
	font-size:14px;
	font-family:verdana, geneva, sans-serif;
	background-color:rgb(44, 43, 43);
    color: #dddddd;
	padding:4px;
	padding-left:6px;
	margin-bottom:3px;
	box-sizing:border-box;
	border-left:1px solid #333333;
	border-right:1px solid #333333;
}
.lobby .users-menues .entries .users-menu .entries-ignored{
	position:relative;
	float:left;
	width:100%;
	box-sizing:border-box;
	padding:3px;
	padding-top:0px;
	padding-bottom:0px;
}