
.users-menues .entries .users-menu{
	width:100%;
	box-sizing:border-box;
}
.users-menues .entries .users-menu .entries{
	position:relative;
	width:100%;
	box-sizing:border-box;
	padding:3px;
	overflow-y:auto;
	overflow:hidden;
}
.users-menues .entries .users-menu .heading{
	width:100%;
	padding-left:6px;
	margin-bottom:3px;
}
.users-menues .entries .users-menu .entries-ignored{
	position:relative;
	width:100%;
	box-sizing:border-box;
	padding:3px;
	padding-top:0px;
	padding-bottom:0px;
	overflow-y:auto;
	overflow:hidden;
}