.lobby .users-menues{
	float:left;
	height:100%;
	box-sizing:border-box;
	padding:6px;
	padding-right:0px;
}
.lobby .users-menues .inner{
	position:relative;
	float:left;
	height:100%;
	box-sizing:border-box;
	background-color:rgb(32, 31, 31);
	border-right:1px solid #2592E9;
}
.lobby .users-menues .entries{
	position:relative;
	float:left;
	height:100%;
	width:200px;
	box-sizing:border-box;
	background-color:rgb(32, 31, 31);
}