
.users-menues .entries .users-menu{
	height:auto;
}
.users-menues .entries .users-menu .entries{
	min-height:30px;
}
.users-menues .entries .users-menu .heading{
}
.users-menues .entries .users-menu .entries-ignored{
	min-height:30px;
	margin-bottom:6px;
}
.users-menues .users-menues-entries .users-menu .heading-wrapper .heading-title{
	right:54px;
}
.users-menues .users-menues-entries .users-menu .heading-wrapper .heading-entries{
	width:54px;
}