
.lobby .users-menues{
	box-sizing:border-box;
	border-right:0px solid #2592E9;
}
.lobby .users-menues .users-menues-entries{
	position:relative;
	height:100%;
}
.users-menues .users-menues-entries .users-menu .heading-wrapper .heading-title{
	right:28px;
}
.users-menues .users-menues-entries .users-menu .heading-wrapper .heading-entries{
	width:28px;
}