.click-menu{
	z-index:1000;
}
.users-menues{
	z-index:100;
}
.standard-menu{
	z-index:150;
}
.pms-menu{
	z-index:100;
}
.notifications-menu{
	z-index:100;
}
.main-menu{
	z-index:100;
}
.image-uploader{
z-index:200;
}
.authenticate{
	z-index:300;
}
.dialog{
	z-index:400;
}
.prevent-interraction{
	z-index:500;
}
.spinner{
	z-index:600;
}