.click-menu{
	z-index:1000;
}
.users-menues{
	
}
.standard-menu{
	z-index:80;
}
.notifications-menu{
	z-index:100;
}
.main-menu{
	z-index:100;
}
.image-uploader{
	z-index:200;
}
.authenticate{
	z-index:300;
}
.moderation{
	z-index:350;
}
.dialog{
	z-index:400;
}
.prevent-interraction{
	z-index:500;
}
.spinner{
	z-index:600;
}