
.spinner {
  position: absolute;
  width: 64px;
  height: 64px;
  left:50%;
  margin-left:-32px;
  top:50%;
}
.spinner div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #fff;
  animation: spinner-animation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.spinner div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.spinner div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.spinner div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes spinner-animation {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}* {
-webkit-user-select: text;
-khtml-user-select: text;
-moz-user-select: text;
-o-user-select: text;
user-select:text;
}
html, body{
height:100%;
margin:0px;
padding:0px;
overscroll-behavior-y: none;
}
body{
	background-color:rgb(44, 43, 43);
}
button{
	background-color:transparent;
	padding: 0;
	border: none;
	background: none;
}
.lobby{
	display:none;
border:1px solid black;
box-sizing:border-box;
position:relative;
width:100%;
height:100%;
background-color:rgb(44, 43, 43);
}
.lobby .left{
	height:100%;
	width:200px;
	float:left;
	box-sizing:border-box;
	padding:6px;
	padding-right:0px;
}
.lobby .left .left-inner{
	float:left;
	height:100%;
	box-sizing:border-box;
	position:relative;
	width:100%;
}
.lobby .right{
	box-sizing:border-box;
	overflow:hidden;
	top:0px;
	position:relative;
	width:auto;
	right:0px;
	height:100%;
}
.lobby .right .right-inner{
height:100%;
	width:100%;	
float:left;
overflow:hidden;
position:relative;
}
.lobby .right .right-inner .split-pane .slider.y{
    left: 6px;
    right: 6px;
    width: auto;
}
.lobby .right .button-show-hide-wrapper{
float:left;	
margin-top:0px;
text-align:center;
width:100%;
height:38px;	
position:relative;
}
.lobby .right .button-show-hide-wrapper .button-pms{
cursor:pointer;
background-repeat:no-repeat;
background-size:contain;	
margin:0px;
position:relative;
width:60px;
display:inline-block;
height:32px;	
}
.lobby .right .button-show-hide-wrapper .button-pms:hover{

}
.lobby .right .button-show-hide-wrapper .button-pms-hide{

}
.lobby .right .button-show-hide-wrapper .button-pms-hide:hover{

}

.lobby .right .button-show-hide-wrapper .button-users{
cursor:pointer;
background-repeat:no-repeat;
background-size:contain;
margin:0px;
position:relative;
display:inline-block;
height:28px;	
float:left;
margin-top:5px;
}
.lobby .right .button-show-hide-wrapper .button-users:hover{

}
.lobby .right .button-show-hide-wrapper .button-users-hide{

}
.lobby .right .button-show-hide-wrapper .button-users-hide:hover{

}
.lobby .right .button-show-hide-wrapper .button-profile-picture{
cursor:pointer;
background-repeat:no-repeat;
background-size:contain;
margin:0px;
position:relative;
display:inline-block;
height:28px;
margin-top:5px;
float:right;
width:43px;
margin-right:10px;
background-image:url('/images/profile-picture.gif');	
}
.lobby .right .button-show-hide-wrapper .button-profile-picture:hover{
background-image:url('/images/profile-picture-hover.gif');	
}
.lobby .right .button-show-hide-wrapper .button-notifications{
cursor:pointer;
background-repeat:no-repeat;
background-size:contain;
margin:0px;
position:relative;
display:inline-block;
height:28px;
margin-top:5px;
float:right;
width:43px;
padding:0px;
}
.lobby .right .button-show-hide-wrapper .button-notifications .count{
right:9px;
bottom:3px;
height:10px;
width:12px;
position:absolute;
color:#ffffff;
align-items: center;
justify-content: center;
text-align: center;
vertical-align:middle;

}
.logo-sign-in{
	width:1450;
	max-width:80%;
	max-height:390px;
	margin:auto;
	left:0px;
	right:0px;
	display:block;
	position:absolute;
	top:0px;
	}
.lobby .right .button-show-hide-wrapper .button-notifications .count .text{
position:relative;
vertical-align:top;
top:0px;
float:top;
padding-top:1px;
font-size:0.65em;
font-weight:bold;
line-height:10px;
font-family:Sans-serif;
}
.lobby .right .button-show-hide-wrapper .button-menu{
cursor:pointer;
background-repeat:no-repeat;
background-size:contain;
margin:0px;
position:relative;
display:inline-block;
height:28px;
margin-top:5px;
float:right;
width:43px;
margin-right:10px;
background-image:url('/images/menu.gif');	
}
.lobby .right .button-show-hide-wrapper .button-menu:hover{
background-image:url('/images/menu-hover.gif');	
}
.lobby{
	
}
.lobby .left{
}
.lobby .right{
}
.lobby .right .button-show-hide-wrapper{
}
.lobby .right .button-show-hide-wrapper .button-pms{
width:43px;
margin-left:10px;
float:left;
height:28px;
background-image:url('/images/pms-mobile.gif');	
margin-top: 5px;
}
.lobby .right .button-show-hide-wrapper .button-pms:hover{
}
.lobby .right .button-show-hide-wrapper .button-pms-hide{
}
.lobby .right .button-show-hide-wrapper .button-pms-hide:hover{
}

.lobby .right .button-show-hide-wrapper .button-users{
width:43px;
margin-left:10px;
float:left;
background-image:url('/images/users-mobile.gif');	
}
.lobby .right .button-show-hide-wrapper .button-users:hover{

}
.lobby .right .button-show-hide-wrapper .button-notifications{
margin-right:10px;
float:right;
background-image:url('/images/notifications.gif');	
}
.lobby .right .button-show-hide-wrapper .button-users:hover{

}.main-menu{
	min-height:100px;
	height:auto;
	min-width:200px;
	background-color:rgb(44, 43, 43);
	margin: auto;
	position: absolute;
	right: 0;
	top:40px;
	padding:6px;
	box-sizing:border-box;
	border:1px solid #000000;
	display:none;
}

.main-menu .heading{
	width:100%;
}
.main-menu .entries{
	width:100%;
	height:auto;
	background-color: rgb(32, 31, 31);
	min-height:100px;
}
.main-menu .entries .entry{
	width:100%;
	height:auto;
	background-color: rgb(32, 31, 31);
	
	
	
	box-sizing:border-box;	
    background-color: #333333;
	padding:3px;
	font-size:14px;
	color:#C4C4C4;
	font-family:verdana, geneva, sans-serif;
	text-overflow: ellipsis;
	text-align:left;
	padding-left:4px;
	overflow:hidden;
	word-wrap:ellipsis;
}
.main-menu .entries .entry:hover{
}.main-menu{
	left: 0;
	min-width:100px;
	max-width:400px;
}
.main-menu .heading{
}
.main-menu .entries{
}
.main-menu .entries .entry{
}
.main-menu .entries .entry:hover{
}.tickbox .box{
cursor:pointer;
background-repeat:no-repeat;
background-size:contain;
position:relative;
display:inline-block;
background-image:url('/images/tickbox-unticked.gif');
}
.tickbox .box.ticked{
background-image:url('/images/tickbox-ticked.gif');
}.lobby .pms-menu{
	float:left;
	width:100%;
	box-sizing:border-box;	
	padding:6px;
	padding-bottom:0px;
}
.lobby .pms-menu   .entries-wrapper{
	box-sizing:border-box;
	position:relative;
	box-sizing:border-box;

}
.lobby .pms-menu .pms-menu-inner {
	width:100%;
	height:100%;
}
.lobby .pms-menu   .entries-wrapper .entries{
	box-sizing:border-box;
	padding-top:3px;
	width:100%;
	height:100%;
	background-color:rgb(32, 31, 31);
	padding-left:3px;
	overflow-y:auto;
}
.lobby .pms-menu   .heading-wrapper{
}
.lobby .pms-menu   .heading-wrapper .heading{
}



.lobby .pms-menu{
	box-sizing:border-box;
	position:absolute;
	background-color:rgb(44, 43, 43);
	display:none;
	padding-bottom:6px;
	height:100%;
	min-height:10px;
	width:100%;
}
.lobby .pms-menu .pms-menu-inner{
	box-sizing:border-box;
	position:relative;
	width:100%;
}
.lobby .pms-menu .pms-menu-inner  .entries-wrapper{
	box-sizing:border-box;
	position:absolute;
	top:32px;
	bottom:0px;
	width:100%;
	
}
.lobby .pms-menu .pms-menu-inner.entries-wrapper .entries{
	box-sizing:border-box;
	height:100%;
    overflow-y: auto;
	width:100%;
}
.lobby .pms-menu .pms-menu-inner.heading-wrapper{
	box-sizing:border-box;
	height:32px;
	width:100%;
}
.lobby .pms-menu .pms-menu-inner.heading-wrapper .heading{
}.lobby .pms-menu .pm-entry{
	position:relative;
	float:left;
	width:100%;
	box-sizing:border-box;
	height:36px;
	cursor:pointer;
	padding-right:3px;
	padding-bottom:3px;
}
.lobby .pms-menu .pm-entry .inner{
	position:relative;
	height:100%;
	width:100%;
	box-sizing:border-box;
    background-color: #eeeeee;
	border:2px solid #ffffff;
	border-radius:3px;
	overflow:hidden;
}
.lobby .pms-menu .pm-entry .inner .connected-image{
	position:relative;
	float:left;
	height:30px;
	width:30px;
	border-radius:2px;
	overflow:hidden;
}
.lobby .pms-menu .pm-entry .inner .connected-image img{
	width:100%;
	height:100%;
}
.lobby .pms-menu .pm-entry .inner .username{
	height:30px;
	font-family:verdana, geneva, sans-serif;
    font-size:16px;
    font-family: Arial;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding:2px;
	padding-top:7px;
	padding-right:12px;
}
.lobby .pms-menu .pm-entry .inner .button-close{
	height:14px;
	width:14px;
	background-color:orange;
	float:none;
	top:0px;
	position:absolute;
	top:0px;
	right:0px;
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url('/images/close.jpg');	
	cursor:pointer;
}
.lobby .pms-menu .pm-entry .inner .button-close:hover{
	background-image:url('/images/close-hover.jpg');
}
.users-menues{
    position:absolute;
	top:83px;
	bottom:0px;
	width:100%;
	box-sizing:border-box;
	background-color:rgb(32, 31, 31);
}
.users-menues .users-menues-entries{
	box-sizing:border-box;
	height:100%;
	overflow:hidden;
	background-color:red;
}
.users-menues{
	box-sizing:border-box;
	position:absolute;
	width:100%;
	display:none;
	padding-left:6px;
	padding-top:6px;
	padding-right:6px;
	padding-bottom:6px;
	background-color:rgb(44, 43, 43);
	top:0px;
}
.users-menues .users-menues-entries{
	
}
.users-menues .users-menues-entries .users-menu{
	width:100%;
	height:100%;
	box-sizing:border-box;
	background-color:rgb(32, 31, 31);
}
.users-menues .users-menues-entries .users-menu .split-pane .panel	{
	width:100%;
	box-sizing:border-box;
}
.users-menues .users-menues-entries .users-menu .user-menu-entries-wrapper{
	box-sizing:border-box;
	position:absolute;
	width:100%;
	box-sizing:border-box;
	top:34px;
	bottom:0px;
}
.users-menues .users-menues-entries .users-menu .user-menu-entries-wrapper .users-menu-entries{
	display:block;
	width:100%;
	box-sizing:border-box;
	padding:3px;
	height:100%;
	overflow-y:auto;
}
.users-menues .users-menues-entries .users-menu .heading-wrapper{
	box-sizing:border-box;
	width:100%;
	margin-bottom:3px;
}
.users-menues .users-menues-entries .users-menu .heading-wrapper .heading{
	box-sizing:border-box;
	width:100%;
	padding-left:6px;
	margin-bottom:3px;
	height:32px;
}

.users-menues .users-menues-entries .users-menu .heading-wrapper .heading-title{
	right:36px;
}
.users-menues .users-menues-entries .users-menu .heading-wrapper .heading-entries{
	width:36px;
}
.users-menues .entries .users-menu{
	height:auto;
}
.users-menues .entries .users-menu .entries{
	min-height:30px;
}
.users-menues .entries .users-menu .heading{
}
.users-menues .entries .users-menu .entries-ignored{
	min-height:30px;
	margin-bottom:6px;
}
.users-menues .users-menues-entries .users-menu .user-entry{
	width:100%;
}
.users-search .user-entry{
	width:50%;
	float:left;
}
.users-menues .users-menues-entries .users-menu .user-entry,
.users-search .user-entry{
	position:relative;
	left:0px;
	box-sizing:border-box;
	margin-bottom:3px;
	cursor:pointer;
}
.users-menues .users-menues-entries .users-menu .user-entry .inner,
.users-search .inner{
	position:relative;
	height:32px;
	width:100%;
	box-sizing:border-box;
    background-color: #eeeeee;
	border:2px solid #ffffff;
	border-radius:3px;
	overflow:hidden;
}
.users-menues .users-menues-entries .users-menu .user-entry .inner .online-indicator,
.users-search .user-entry .inner .online-indicator{
	top:10px;
}
.users-menues .users-menues-entries .users-menu .user-entry .inner .connected-image,
.users-search .user-entry .inner .connected-image{
	position:relative;
	height:30px;
	width:30px;
	border-radius:2px;
	overflow:hidden;
}
.users-menues .users-menues-entries .users-menu .user-entry .inner .connected-image img,
.users-search.user-entry .inner .connected-image img{
	width:100%;
	height:100%;
}
.users-menues .users-menues-entries .users-menu .user-entry .inner .username,
.users-search .user-entry .inner .username{
	position:absolute;
	left:30px;
	right:10px;
	top:0px;
	height:30px;
	font-family:verdana, geneva, sans-serif;
    font-size:16px;
    font-family: Arial;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding:2px;
	padding-top:7px;
}
.users-search .user-entry{
	padding-right:3px;
}.birthday{
    height :25px;
    float :left;
    width :100%;
}
.birthday select{
	
        width :33.33%;
        height :100%;
        position :relative;
        float :left;
}.tab-panel{ 
    width:100%;
    float:left;
}
.tab-panel .tabs{
   width :100%;
   height:20px;
}
.tab-panel .tab{
	height :18px;
        top :2px;
        float:left;
        position:absolute;
        border-top-right-radius :10px;
		cursor:pointer;
		}
.tab-panel .tab .name{
	padding-left:5px;
	height :100%;
	padding-right:2px;
	white-space :nowrap;
	overflow :hidden;
	text-overflow :ellipsis;
	display :inline-block;
	font-family:Arial;
}
.tab-panel .panel{
        width :100%;
        top :3px;
        float:left;
        left :0px;
}.authenticate{
	font-family:verdana, geneva, sans-serif;
    color: #dddddd;
	position:fixed;
	width:244px;
	margin:auto;
	top:50%;
	-webkit-transform:  translateY(-50%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
	-ms-transform:  translateY(-50%); /* IE 9 */
	transform:  translateY(-50%); /* IE 10, Fx 16+, Op 12.1+ */
	background-color:rgb(44, 43, 43);
	border:3px solid rgb(0, 135, 226);
	border-radius:5px;
	padding:3px;
	box-sizing:border-box;
	display:none;
	margin:auto;
	overflow: auto;
	margin: auto;
	left: 0; 
	right: 0;
		
}
.authenticate .tickbox{
margin-top:4px;
position:relative;	
float:right;
		margin-right:10px;
}
.authenticate .tickbox .text{
	font-size:14px;
	font-family:verdana, geneva, sans-serif;
    color: #dddddd;
	padding-left:4px;
	padding-right:4px;
	padding-top:2px;
	height:20px;
	float:left;
	box-sizing:border-box;
}
.authenticate .tickbox .box{
	width:18px;
	height:18px;
	float:left;
}
.authenticate input[type="text"], .authenticate input[type="password"], .authenticate select{}
.authenticate .tab-panel .panel{
		border-radius:4px;	
	top:0px;
	width:100%;
	box-sizing:border-box;
	padding:4px;
		background-color:rgb(32, 31, 30);
}
.authenticate .tab-panel .tabs{
		background-color:rgb(0, 135, 226);
		border-top-right-radius:6px;
}.authenticate .tab-panel .tab{
		background-color:rgb(32, 31, 30);
}
.authenticate .tab-panel	{
}
.authenticate .div-inputs-sign-in{
	float:left;
}
.authenticate .button-register{
			width:100%;
			margin-top:4px;
			box-sizing:border-box;
			margin-bottom:3px;
			border:2px solid  rgb(0, 135, 226);
			border-radius:4px;
			float:left;
			text-align:center;
			padding:3px;
			cursor:pointer;
			font-family: verdana, geneva, sans-serif;
			color: #dddddd;
}
.authenticate .button-register:hover{
	background-color:rgb(44, 43, 43);
}
.authenticate .inputs-register{
	position :relative;	
	height:auto;
	float:left;
}
.authenticate .button-enter
{
	height:100%;
	position:relative;
	float:none;
	width:100%;
	margin-top:4px;
	margin-bottom:3px;
}
.authenticate .error{
	position :relative;
	float :left;
	width :100%;
	background-color :#eeeeee;
	font-family:verdana, geneva, sans-serif;
	font-size :14px;
	display :none;
	margin-top :3px;
	box-sizing :border-box;
}
.authenticate .error-text{position :relative;
		width :100%;
		box-sizing :border-box;
		background-color :transparent;
		border :0px;
		resize :none;
		overflow-y :hidden;
		float:left;
		color:#ff3344;

		}
.authenticate .entry ,.authenticate .gender{
	width:100%;
	margin-bottom:4px;
}
.authenticate .entry{
    padding: 14px 10px;
}
.authenticate .entry ,.authenticate .gender,.authenticate .birthday select{
	position:relative;
	float:left;
	box-sizing:border-box;
	
	
    background: #fff;
    color: #323232;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 2px solid #dddddd;
    outline: 0;
	border-radius:2px;
	height:28px;
}
.authenticate .birthday{
	width:100%;
	box-sizing:border-box;
	margin-bottom:4px;
}
.authenticate .birthday select{
	width:32%;
	box-sizing:border-box;
	height:100%;	
}
.authenticate .birthday .not-right{
	width:32%;
	box-sizing:border-box;
	height:100%;
	margin-right:2%;
}.lobby .rooms .room .feed .message{
	width:100%;
	height:auto;
	font-size:16px;
	font-family:verdana, geneva, sans-serif;
	background-color:#F7F7FF;
	border-radius:3px;
	box-sizing:border-box;
	padding:1px;
	display:inline-block;
	position:relative;
	margin-bottom:2px;
}.lobby .rooms .room .feed .message.error{
	font-size:16px;
	background-color:#FFF0F0;
	color:#FF0000;
	border:1px solid #FFD6D6;
	border-radius:0px;
}
.lobby .rooms .room .feed .message .pending{
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	position:absolute;
	background-color: rgba(0, 0, 0, 0.4);
}
.lobby .rooms .room .feed .message .inner{
	width:100%;
	border-radius:3px;
	overflow:hidden;
}
.lobby .rooms .room .feed .message .inner .emoticon{
	height:16px;
	width:16px;
}
.lobby .rooms .room .feed .message   .inner .connected-image{
	width:32px;
	height:32px;
	float:left;
	box-sizing:border-box;
	display:inline;
	margin:0px;
	border-radius:2px;
	margin-right:3px;
}
.lobby .rooms .room .feed .message .inner .username-and-timestamp{
	overflow:hidden;
}
.lobby .rooms .room .feed .message .inner .username-and-timestamp .username{
    font-size: 11px;
    cursor: pointer;
    color: rgb(59, 89, 152);
    font-weight: bold;
    float: left;
	overflow:hidden;
}
.lobby .rooms .room .feed .message .inner .username-and-timestamp .timestamp{
    font-size: 8px;
    color: #666;
    float: left;
	overflow:hidden;
	padding-top:2px;
	padding-left:2px;
}
.lobby .rooms .room .feed .message .inner .username-and-timestamp .username:hover{
    text-decoration:underline;
}
.lobby .rooms .room .feed .message .inner .connected-image img{
	width:100%;
	height:100%;
}
.lobby .rooms .entries .room .spinner div {
  margin-top:-40px;
}
.lobby .rooms .entries .room{
	position:relative;
	width:100%;
    height: 100%;
	box-sizing:border-box;
	min-height:100%;
	padding-top:3px;
	display:table;

}
.lobby .rooms .entries .room .top{
	position:absolute;
	width:100%;
	top:0px;
	bottom:58px;
	box-sizing:border-box;
}
.lobby .rooms .entries .room .top .feed{
	position:relative;
	background-color:rgb(32, 31, 31);
	overflow-y:auto;
	overflow-x:hidden;
	padding-left:3px;
	padding-right:3px;
    padding-top: 3px;
	box-sizing:border-box;
	padding-bottom:1px;
	height:100%;
}
.lobby .rooms .entries .room .top .video-feed-panel{
	background-color:rgb(32, 31, 31);
	position:relative;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
}
.lobby .rooms .entries .room .top .video-feed-panel .video-feed{
	
}
.lobby .rooms .entries .room .bottom{
	height:58px;
	width:100%;
	box-sizing:border-box;	
	background-color:orange;
	position:absolute;
	bottom:0px;
	background-color:rgb(44, 43, 43);
}
.lobby .rooms .entries .room .bottom .text{
	position:relative;
	width:100%;
	border:0px;
	margin:0px;
	height:26px;
	top:4px;
	font-family:Arial;
	font-size:16px;
	padding-left:2px;
	padding-right:2px;
	box-sizing: border-box;
}
.lobby .rooms .entries .room .bottom .menu{
	width:100%;
	border:0px;
	margin:0px;
	height:24px;
	position:absolute;
	bottom:0px;
	background-color:rgb(32, 31, 31);
}
.lobby .rooms .entries .room .bottom .menu .button-emoticons{
	float:right;
	width:24px;
	height:24px;
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url('/images/smiley.gif');	
	cursor:pointer;
}
.lobby .rooms .entries .room .bottom .menu .button-emoticons:hover{
	background-image:url('/images/smiley-hover.gif');	
}
.lobby .rooms .entries .room .bottom .menu .button-send{
	float:right;
	width:48px;
	height:20px;
	margin-top:1px;
	line-height:19px;
	background-color:#2592E9;
	border:1px solid #000000;
	border-radius:2px;
	cursor:pointer;
	font-family:Arial;
	text-align:center;
	vertical-align:middle;
}
.lobby .rooms .entries .room .bottom .menu .button-send:hover{
	background-color:#8092E9;
}
.lobby .rooms .entries .room .bottom .menu .button-exit{
	float:right;
	width:28px;
	height:24px;
	margin-right:6px;
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url('/images/room-exit.gif');	
	cursor:pointer;
}
.lobby .rooms .entries .room .bottom .menu .button-exit:hover{
	background-image:url('/images/room-exit-hover.gif');	
}
.lobby .rooms .entries .room .bottom .menu .button-close{
	float:right;
	width:28px;
	height:24px;
	margin-right:6px;
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url('/images/close.jpg');	
	cursor:pointer;
}
.lobby .rooms .entries .room .bottom .menu .button-close:hover{
	background-image:url('/images/close-hover.jpg');	
}
.lobby .rooms .entries .room .bottom .menu .button-video-pm-start{
	float:right;
	width:43px;
	height:24px;
	margin-right:6px;
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url('/images/video-start.gif');	
	cursor:pointer;
}
.lobby .rooms .entries .room .bottom .menu .button-video-pm-start.on{
	background-image:url('/images/video-stop.gif');
}
.lobby .rooms .entries .room .bottom .menu .button-video-pm-start:hover{
background-image:url('/images/video-start-hover.gif');	
}
.lobby .rooms .entries .room .bottom .menu .button-video-pm-start.on:hover{
	background-image:url('/images/video-stop-hover.gif');
}body{
	
}
.lobby .rooms{
	position:absolute;
	width:100%;
	box-sizing:border-box;
	top:38px;
	bottom:6px;
}
.lobby .rooms .rooms-inner{
	display:block;	
	box-sizing:border-box;	
	width:100%;
	height:100%;
	padding:6px;
}
.lobby .rooms .entries{
	position:absolute;
	box-sizing:border-box;	
	background-color:rgb(32, 31, 31);
	left:6px;
	right:6px;
	top:0px;
	bottom:6px;
	height:100%;
	overflow:hidden;

}body{
	
}
.lobby .rooms-menu{
	width:100%;
	box-sizing:border-box;
	min-height:100%;
	padding-left:3px;
	padding-top:3px;
}
.lobby .rooms-menu .button-search{
	
	background-color:rgb(32, 31, 30);
	position:absolute;
	bottom:0px;
	right:0px;
	height:20px;
	width:22px;
	background-image:url('/images/search.gif');
	cursor:pointer;
	background-repeat:no-repeat;
	background-size:contain;
	margin-top:2px;
	
}
.lobby .rooms-menu .button-search:hover{
	background-image:url('/images/search-hover.gif');
}body{
	
}
.lobby .rooms-menu .room-entry{
	width:25%; 	
}
.rooms-search .room-entry{
	width:50%;
}
.lobby .rooms-menu .room-entry,
.rooms-search .room-entry{
	display:inline-block;
	position:relative;
	float:left;
	box-sizing:border-box;
	padding:0px;
	height:36px;
	padding-right:3px;
	padding-bottom:3px;
}
.lobby .rooms-menu .room-entry .inner,
.rooms-search .room-entry .inner{
	box-sizing:border-box;
	height:100%;
	background-color:#cccccc;
	border-radius:7px;
	overflow:hidden;
	border:2px solid #efefef;
	width:100%;
}
.lobby .rooms-menu .room-entry .inner:hover,
.rooms-search .room-entry .inner:hover{
	background-color:#dddddd;
	cursor:pointer;
}
.lobby .rooms-menu .room-entry .inner .connected-image,
.rooms-search .room-entry .inner .connected-image{
	float:left;
	box-sizing:border-box;
	height:30px;
	width:30px;	
	border-radius:2px;
    overflow: hidden;
}
.lobby .rooms-menu .room-entry .inner .connected-image img,
.rooms-search .room-entry .inner .connected-image img{
	box-sizing:border-box;
	height:100%;
	width:100%;
	/*background-image:url('/images/room-default.png');
    background-repeat: no-repeat;
    background-position: center; 
	background-size:contain;*/
}
.lobby .rooms-menu .room-entry .inner .name,
.rooms-search .room-entry .inner .name{
	height:30px;
	padding-top:5px;
	padding-left:2px;
	padding-right:2px;
	font-size:16px;
	font-family :Arial;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
    box-sizing: border-box;
}
.video-feed{
	width:100%;
	height:100%;
	max-width:100%;
	box-sizing:border-box;
	position:relative;
}
.video-feed .video-them{
	height:100%;
	max-width:100%;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	box-sizing:border-box;
}
.video-feed .me{
	max-width:100px;
	max-height:100px;
	width:40%;
	height:50%;
	position:absolute;
	right:0px;
	bottom:0px;
	box-sizing:border-box;
}
.video-feed .video-me{
	max-height:100%;
	max-width:100%;
	box-sizing:border-box;
	bottom:0px;
	right:0px;
	position:absolute;
}.lobby .rooms .emoticons{
	position:absolute;
	display:none;
	bottom:30px;
	left:0px;
	right:0px;
	min-height:auto;
	box-sizing:border-box;
	padding:6px;
	background-color:rgb(44, 43, 43);
}.lobby .rooms .emoticons .entries{
	position:relative;
	width:100%;
	min-height:70px;
	max-height:160px;
	overflow-y:auto;
	box-sizing:border-box;
	padding:3px;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background-color:rgb(32, 31, 31);
}.lobby .emoticons .entries .emoticon-entry{
	position:relative;
	float:left;
	width:auto;
	box-sizing:border-box;
	height:20px;
	width:20px;
	font-size:16px;
	cursor:pointer;
	overflow:hidden;
}
.lobby .emoticons .entries .emoticon-entry:hover{
	font-weight:bold;
	font-size:18px;
}
.lobby .emoticons .entries .emoticon-entry img{
	width:100%;
	height:100%;
}
.lobby .emoticons .entries .emoticon-entry img:hover{
	width:105%;
	height:105%;
}.click-menu{
	position:absolute;
	box-sizing:border-box;	
	padding:2px;
	padding-bottom:0px;
	background-color:#3B3B3B;
	border-radius:1px;
	overflow:hidden;
	display:none;
}
.click-menu .option-entry{
	position:relative;
	display:block;
	min-width:120px;
	min-height:40px;
	vertical-align:center;
	text-align:left;
	box-sizing:border-box;	
    background-color: #333333;
	padding:3px;
	font-size:14px;
	color:#C4C4C4;
	font-family:verdana, geneva, sans-serif;
	text-overflow: ellipsis;
	margin-bottom:1px;
	border-radius:1px;
	overflow:hidden;
	word-wrap:ellipsis;
	padding-top:10px;
	padding-bottom:10px;
	cursor:pointer;
	max-width:200px;
	
}
.click-menu .option-entry:hover{
	background-color:#2A2A2A;
}.notification-entry{
	position:relative;
	float:left;
	width:100%;
	box-sizing:border-box;
	height:36px;
	cursor:pointer;
	padding-right:3px;
	padding-bottom:3px;
}
.notification-entry .inner{
	position:relative;
	height:100%;
	width:100%;
	box-sizing:border-box;
    background-color: #eeeeee;
	border:2px solid #ffffff;
	border-radius:3px;
	overflow:hidden;
}
.notification-entry .inner .connected-image{
	position:relative;
	float:left;
	height:30px;
	width:30px;
	border-radius:2px;
	overflow:hidden;
}
.notification-entry .inner .connected-image img{
	width:100%;
	height:100%;
}
.notification-entry .inner .username{
	height:30px;
	font-family:verdana, geneva, sans-serif;
    font-size:16px;
    font-family: Arial;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding:2px;
	padding-top:7px;
	padding-right:12px;
}
.notification-entry .inner .button-close{
	height:14px;
	width:14px;
	background-color:orange;
	float:none;
	top:0px;
	position:absolute;
	top:0px;
	right:0px;
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url('/images/close.jpg');	
	cursor:pointer;
}
.notification-entry .inner .button-close:hover{
	background-image:url('/images/close-hover.jpg');
}.notifications-menu{
	position:absolute;
	background-color:orange;
	display:none;
	background-color:rgb(44, 43, 43);
	padding:6px;
	box-sizing:border-box;
	width:100%;
	border:1px solid #000000;
	top:0px;
}
.notifications-menu .entries{
	background-color:rgb(32, 31, 31);
	box-sizing:border-box;
	width:100%;
	min-height:40px;
	padding-left:3px;
	padding-top:3px;
	height:auto;
	float:left;
}
.notifications-menu .heading{
	width:100%;
}
.notifications-menu .heading-title{
	right:30px;
}
.notifications-menu .heading-entries{
	right:0px;
	width:30px;
}
 .notifications-menu{
	position:absolute;
	background-color:rgb(44, 43, 43);
	display:none;
	padding-bottom:6px;
	height:100%;
	min-height:10px;
	width:100%;
}
 .notifications-menu .notifications-menu-inner{
	box-sizing:border-box;
	position:relative;
	height:100%;
	width:100%;
}
 .notifications-menu  .notifications-menu-inner .entries-wrapper{
	box-sizing:border-box;
	 position:absolute;
	 top:32px;
	 bottom:0px;
	width:100%;
	
}
 .notifications-menu .notifications-menu-inner .entries-wrapper .entries{
	box-sizing:border-box;
	height:100%;
	width:100%;
    overflow-y: auto;
}
 .notifications-menu .notifications-menu-inner .heading-wrapper{
	box-sizing:border-box;
	height:32px;
	width:100%;
}
 .notifications-menu .notifications-menu-inner .heading-wrapper .heading{
}.image-uploader{
	height:400px;
	max-height:100%;
	background-color:rgb(44, 43, 43);
	overflow-y:hidden;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	padding:6px;
	box-sizing:border-box;
	border:1px solid #000000;
	display:none;
}
.image-uploader .inner{
	background-color:rgb(32, 31, 31);
	width:100%;
	height:100%;
	display:table;
	overflow:hidden;
}
.image-uploader .inner .file-uploader{
	width:100%;
	height:100px;
	max-height:100%;
	text-align:center;
	
}
.image-uploader .inner .file-uploader .button{
	width:100px;
	height:100px;
	max-width:100%;
	display:inline-block;
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url('/images/upload-file.jpg');	
	cursor:pointer;
	margin-top:30px;
}
.image-uploader .inner .cropping-menu .button-wrapper{
	width:50%;
	height:auto;
	text-align:center;
	box-sizing:border-box;
	display:inline-block;
}
.image-uploader .inner .cropping-menu .button-accept{
	width:50px;
	height:50px;
	display:inline-block;
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url('/images/tick.jpg');	
	cursor:pointer;
	box-sizing:border-box;
}
.image-uploader .inner .cropping-menu .button-accept:hover{
	background-image:url('/images/tick-hover.jpg');	
}
.image-uploader .inner .cropping-menu{
	display:none;
}
.image-uploader .inner .cropping-menu .button-reject{
	width:50px;
	height:50px;
	display:inline-block;
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url('/images/cross.jpg');	
	cursor:pointer;
	box-sizing:border-box;
	
}
.image-uploader .inner .cropping-menu .button-reject:hover{
	background-image:url('/images/cross-hover.jpg');	
}
.image-uploader .inner .cropping-frame{
	display:none;
	width: 100%;
	box-sizing:border-box;
	background-color:#000000;
	position:relative;
	position:relative;
	margin-bottom:3px;
	height:100%;
}
.image-uploader .inner .cropping-frame .img-wrapper{
	display:block;
	max-width: 100%;
	height:auto;
	position:relative;
}
.image-uploader .inner .cropping-frame .img-wrapper img{
	width:100%;
	height:100%;
}
.image-uploader .inner .cropping-frame .img-wrapper .cropper{
	position:absolute;
	border-style:dashed;
	border-width:1px;
	border-color:#888888;
	width:100px;
	height:100px;
	cursor:move;
}
.image-uploader .inner .cropping-frame .img-wrapper .cropper .corner{
	position:absolute;
	width:6px;
	height:6px;
	border:1px solid #777777;
}
.image-uploader .inner .cropping-frame .img-wrapper .cropper .corner-top-left{
	top:-6px;
	left:-6px;
	cursor:nw-resize;
}
.image-uploader .inner .cropping-frame .img-wrapper .cropper .corner-top-right{
	top:-6px;
	right:-6px;
	cursor:ne-resize;
}
.image-uploader .inner .cropping-frame .img-wrapper .cropper .corner-bottom-left{
	bottom:-6px;
	left:-6px;
	cursor:sw-resize;
}
.image-uploader .inner .cropping-frame .img-wrapper .cropper .corner-bottom-right{
	bottom:-6px;
	right:-6px;
	cursor:se-resize;
}
.image-uploader .inner .cropping-frame .img-wrapper .cropper .corner-top{
	top:-6px;
	left:50%;
	left:calc(50% - 3px);
}
.image-uploader .inner .cropping-frame .img-wrapper .cropper .corner-left{
	left:-6px;
	top:50%;
	top:calc(50% - 3px);
}
.image-uploader .inner .cropping-frame .img-wrapper .cropper .corner-right{
	right:-6px;
	top:50%;
	top:calc(50% - 3px);
}
.image-uploader .inner .cropping-frame .img-wrapper .cropper .corner-bottom{
	bottom:-6px;
	left:50%;
	left:calc(50% - 3px);
}
.image-uploader .inner .heading{
	width:100%;
	height:32px;
	margin-bottom:10px;
}
.image-uploader .inner .file-sender{
	display:none;
	height:100%;
}
.image-uploader .inner .file-sender .entries{
	height:100%;
	width:100%;
}
.image-uploader .inner .file-sender .entries .sending{
	margin-top:30px;
	text-align:center;	
	box-sizing:border-box;
	width:100%;
	
}
.image-uploader .inner .file-sender .entries .sending .progress-bar{
	width:80%;
	position:relative;
	left:10%;
	
}.image-uploader{
	width:100%;
}.heading{
	position:relative;
	font-size:14px;
	font-family:verdana, geneva, sans-serif;
	background-color:rgb(44, 43, 43);
    color: #dddddd;
	padding:4px;
	padding-top:2px;
	box-sizing:border-box;
	border-left:1px solid #333333;
	border-right:1px solid #333333;
	height:30px;
}
.heading-title{
	position:absolute;
	left:2px;
	right:0px;
    overflow: hidden;
	padding-top:4px;
    text-overflow: ellipsis;
    white-space: nowrap;
	box-sizing:border-box;
}
.heading-entries{
	position:absolute;
	right:0px;
}
.heading .button-close{
	float:right;
	width:24px;
	height:24px;
	margin-right:5px;
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url('/images/close.jpg');	
	cursor:pointer;
}
.heading .button-close:hover{
	background-image:url('/images/close-hover.jpg');	
}
.heading{
}
.heading-title{
	right:30px;
}
.heading-entries{
	right:0px;
	width:30px;
}
.heading .button-close{
}
.heading .button-close:hover{	
}

.split-pane{
	width:100%;
	height:100%;
	box-sizing:border-box;
	position:relative;
}
.split-pane .panel{
	position:absolute;
	box-sizing:border-box;
}
.split-pane .slider{
	box-sizing:border-box;
}
.split-pane .slider.x{
	width:6px;
	height:100%;
	top:0px;
	position:absolute;
	cursor:e-resize;
	background-color:#666666;
	z-index:3;
}
.split-pane .slider.y{
	height:6px;
	width:100%;
	left:0px;
	position:absolute;
	cursor:n-resize;
	background-color:#666666;
	z-index:3;
}.progress-bar {
height:25px;

background-color: #1a1a1a;
height: 25px;
padding: 5px;        
border-radius: 5px;
box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;    
}
.progress-bar .progress{
float:left;
display:inline-block;
height: 100%;
border-radius: 3px;
box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
transition: width .4s ease-in-out; 
background-color:#777777;

    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
.progress-bar .text{
position:absolute;
left:10px;
right:10px;
height: 100%;
top:5px;
font-size:12px;
font-family:verdana, geneva, sans-serif;
padding-top:4px;
color: #dddddd;
z-index:10;
white-space: nowrap; 
overflow: hidden;
text-overflow: ellipsis;
}
.progress-bar-done .progress {
background-color:#85CB34; 
}.click-menu{
	z-index:1000;
}
.users-menues{
	z-index:100;
}
.pms-menu{
	z-index:100;
}
.notifications-menu{
	z-index:100;
}
.main-menu{
	z-index:100;
}
.image-uploader{
z-index:200;
}
.authenticate{
	z-index:300;
}
.dialog{
	z-index:400;
}
.prevent-interraction{
	z-index:500;
}
.spinner{
	z-index:600;
}.dialog{
    position: fixed;
    width: 244px;
    margin: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgb(44, 43, 43);
    border: 3px solid rgb(0, 135, 226);
    border-radius: 5px;
    padding: 3px;
    box-sizing: border-box;
    display: none;
    margin: auto;
    overflow: auto;
    margin: auto;
    left: 0;
    right: 0;
	max-width:100%;
}
.dialog .inner{
    border-radius: 4px;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    background-color: rgb(32, 31, 30);
}
.dialog .inner .message{
    font-family: verdana, geneva, sans-serif;
    color: #dddddd;
	
}
.dialog .inner .dialog-button{width: 100%;
    margin-top: 4px;
    box-sizing: border-box;
    margin-bottom: 3px;
    border: 2px solid rgb(0, 135, 226);
    border-radius: 4px;	
    text-align: center;
    padding: 3px;
    cursor: pointer;
    font-family: verdana, geneva, sans-serif;
    color: #dddddd;

}
.dialog .inner .dialog-button:hover{
	background-color:rgb(44, 43, 43);
}.online-indicator{
	position:absolute;
	bottom:2px;
	right:2px;
	border-radius:2px;
	height:10px;
	width:10px;
	box-sizing:border-box;
}
.online-indicator.online{
	background-color:#00AFFF;
	border:1px solid #55ee44;
}
.online-indicator.offline{
	background-color:#333333;
	border:1px solid #555555;
	
}.heading .button-search{
	width:18px;
	height:18px;
	background-image:url('/images/search.gif');
	cursor:pointer;
	background-repeat:no-repeat;
	background-size:contain;
	margin-top:4px;
}.heading .button-search:hover{
	background-image:url('/images/search-hover.gif');
}.standard-menu{
	position:absolute;
	display:none;
	background-color:rgb(44, 43, 43);
	padding:6px;
	box-sizing:border-box;
    min-width: 200px;
    max-width: 550px;
	height:400px;
	max-height:100%;
	border:1px solid #000000;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	
}.standard-menu-inner{
	position:relative;
	background-color:rgb(32, 31, 31);
	height:100%;
	width:100%;
}
.standard-menu .entries{
	position:absolute;
	background-color:rgb(32, 31, 31);
	box-sizing:border-box;
	width:100%;
	min-height:40px;
	top:32px;
	bottom:0px;
	float:left;
}
.standard-menu .heading{
	width:100%;
}
.standard-menu .heading-title{
	right:30px;
}
.standard-menu .heading-entries{
	right:0px;
	width:30px;
}.search-bar{
position:relative;
width:100%;
height:32px;
box-sizing:border-box;
padding:3px;
    margin: auto;
}
.search-bar-text-wrapper{
position: absolute;
box-sizing: border-box;
height:100%;
left:3px;
right:31px;
}
.search-bar-button-wrapper{
position:absolute;
right:3px;
box-sizing: border-box;
height:100%;
width:30px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: 2px solid #dddddd;
    border-left: 0;
	background-color:#FFFFFF;
}
.search-bar-text{
position: relative;
box-sizing: border-box;
background: #fff;
color: #323232;
font: inherit;
box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
border: 2px solid #dddddd;
outline: 0;
border-radius: 2px;
height:100%;
width:100%;
	font-family:verdana, geneva, sans-serif;
    border-right: 0;
	font-size:16px;
	padding-left:4px;
}
.search-bar-button{
position:relative;
height:26px;
width:28px;
	background-image:url('/images/search.gif');
	cursor:pointer;
	background-repeat:no-repeat;
	background-size:contain;
	margin-top:2px;
	
}
.search-bar-button:hover{
	background-image:url('/images/search-hover.gif');
}.standard-search-entries{
	top:36px;
	bottom:0px;
	position:absolute;
	padding-left:3px;
	padding-top:3px;
	width:100%;
	box-sizing:border-box;
}